{% extends "appbuilder/base.html" %}
{% block content %}
<<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>MDM</h1>
      <h2>Madagascar Mine Management: Bring the economic of Madagascar to the digital area</h2>
      <a href="#about" class="btn-get-started ">Our vision</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="static/assets/img/about-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
            <h3>INNOVATION IS USEFUL WHEN IT REFLECTS YOUR OBJECTIVES</h3>
            <p class="fst-italic">
              We are a group of young student in Information Business System from Madagascar who Operates in Mauritius.
              We are very invested in the fight for the economic development of Madagascar because we are aware of the precariousness that prevails on our country and this is our part of responsibility .
              we mainly intervene in the mining sector because madagascar is a producing country of quality minerals but also loses a lot of money in this activity.To do this:
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> we created MmM first to digitize this sector and to facilitate the management of any site</li>
              <li><i class="bi bi-check2-circle"></i> Allow the owner of a site to have more to facilitate</li>
              <li><i class="bi bi-check2-circle"></i> 1% of our benefice will be given to <a href="https://www.aidamada.ch/">TSINJO NGO</a>, which is an NGO who help and rise kids abandoned by their parents</li>
            </ul>
            <p>

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>We are offering you the best and effective way to improve your business</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-cpu"></i></div>
            <h4 class="title"><a href="">software management</a></h4>
            <p class="description">A reliable and secure platform to Improve your activity  </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-clipboard-data"></i></div>
            <h4 class="title"><a href="">Data analysis</a></h4>
            <p class="description">effective way to analyse the evolution of any site</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-globe"></i></div>
            <h4 class="title"><a href="">Data accessibilty</a></h4>
            <p class="description">Acces to your data anytime and anywhere</p>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section class="call-to-action">
      <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p>Subscribe and use all the toolkits and features of the software,to master and to improve your activities</p>
          <a class="cta-btn" href="#">Subscribe</a>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Our Portfolio</h2>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Mining mada</li>
              <li data-filter=".filter-card">gems</li>
              <li data-filter=".filter-web">sofwaremanagement</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/android-chrome-512x512.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="static/assets/img/portfolio/android-chrome-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">App 1</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/android-chrome-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/ilakaka-Sakaraha-Madagascar512x512.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="static/assets/img/portfolio/ilakaka-Sakaraha-Madagascar512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3">Web 3</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/ilakaka-Sakaraha-Madagascar512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/sable-512x512.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="static/assets/img/portfolio/sable-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2">App 2</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/sable-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/crystal.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="static/assets/img/portfolio/crystal.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="gems">gems</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/crystal.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="gems"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/pinkglass-512x512.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="static/assets/img/portfolio/pinkglass-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="gems">gems</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/pinkglass-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="gems"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/blue-512x512.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="assets/img/portfolio/blue-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="gems">gems</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/blue-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="gems"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/man-512x512.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="static/assets/img/portfolio/man-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="sofwaremanagement">sofwaremanagement</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/man-512x512.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="sofwaremanagement"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/sary.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="assets/img/portfolio/sary.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="sofwaremanagement">sofwaremanagement</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/sary.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="sofwaremanagement"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="static/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1">Web 1</a></h3>
                <div>
                  <a href="static/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
               dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
               turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                 bi quis
              </p>
            </div>
          </li>


        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Our Team</h2>
          <p>MME</p>
        </div>



          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="assets/img/team/team-2.jpg" alt="">
              <h4>NDRIANIAINA ZOELISON</h4>
              <span>Product Manager AND Product Designer</span>
              <p>
                I'm a student from Madagascar,i'm doing business information system.
                I would like to be a developper full stack
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>




        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="contact-about">
              <h3>Madagascar Mining Management</h3>
              <p>feel free to contact us</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>3 avenue doyen<br>quatre bornes</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>ndrianianazoelsion@gmail.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+230 58044494</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

    <!-- ======= Map Section ======= -->
    <section class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.2219901290355!2d-74.00369368400567!3d40.71312937933185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a23e28c1191%3A0x49f75d3281df052a!2s150%20Park%20Row%2C%20New%20York%2C%20NY%2010007%2C%20USA!5e0!3m2!1sen!2sbg!4v1579767901424!5m2!1sen!2sbg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </section><!-- End Map Section -->

  </main><!-- End #main -->
{% endblock %}